In [671]:
import pandas as pd

In [672]:
result = {"age": [25,30,32,19,21,39,49,65,72,80],
          "smoking": [False, True, False, False, True ,False ,False ,False ,True ,False],
          "cancer": [False, True, False, False, True ,False ,False ,False ,True ,False] }
df = pd.DataFrame(result)

In [673]:
def startified_split(df, train_ratio=0.7, col='cancer'):
    #intialize 2 empty dataframes train and test
    train = pd.DataFrame()
    test = pd.DataFrame()
    #split the dataset in 2 groups based on col provided and split the training and test ratio for each group
    dfSplit = df.loc[df[col] == False]
    while ((len(train)/len(dfSplit)) < train_ratio):
        sample = random.randint(0,(len(dfSplit)-1))
        if sample not in train.index:
            train = train.append(dfSplit.loc[dfSplit.index == sample])
    #load all the indexes not in training to test
    for i in dfSplit.index:
        if i not in train.index:
            test = test.append(dfSplit.loc[dfSplit.index == i])          
    
    #split2 containing only true values of column
    dfSplit2 = df.loc[df[col] == True]
    indexes = list(dfSplit2.index)
    #random shuffle indexes to ensure we are randomly selecting from true values
    random.shuffle(indexes)
    for sample in indexes:
        if sample not in train.index and \
        len(train.loc[train[col]==True])/len(train) < (train_ratio * len(df.loc[df[col]==True])/len(df)):
            train = train.append(dfSplit2.loc[dfSplit2.index == sample])
    for i in dfSplit2.index:
        if i not in train.index and i not in test.index:
            test = test.append(dfSplit2.loc[dfSplit2.index == i])    
    
    return train, test

In [674]:
train, test = startified_split(df)

In [675]:
train

   age  smoking  cancer
2   32    False   False
5   39    False   False
3   19    False   False
0   25    False   False
6   49    False   False
4   21     True    True
8   72     True    True

In [676]:
test

   age  smoking  cancer
7   65    False   False
9   80    False   False
1   30     True    True